altair
anyio
argon2-cffi
argon2-cffi-bindings
asgiref
asttokens
attrs
autopep8
backcall
backports.zoneinfo
beautifulsoup4
bleach
blinker
blis
Bottleneck
catalogue
certifi
cffi
charset-normalizer
click
colorama
commonmark
cymem
Cython
debugpy
decorator
defusedxml
embedders
entrypoints
executing
fastapi
fastjsonschema
filelock
gensim
gitdb
GitPython
h11
httptools
idna
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
langcodes
MarkupSafe
matplotlib-inline
mistune
mkl-fft
mkl-random
mkl-service
murmurhash
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numexpr
numpy
packaging
pandas
pandocfilters
parso
pathy
pickleshare
Pillow
preshed
prometheus-client
prompt-toolkit
protobuf
psutil
pure-eval
pyarrow
pycodestyle
pycparser
pydantic
pydeck
Pygments
Pympler
pyparsing
pyrsistent
python-dateutil
python-dotenv
pytz
pytz-deprecation-shim
PyYAML
pyzmq
requests
rich
sacremoses
semver
Send2Trash
six
smart-open
smmap
sniffio
soupsieve
stack-data
starlette
streamlit
tb-nightly
terminado
thinc
threadpoolctl
tinycss2
toml
toolz
tornado
tqdm
traitlets
typer
typing_extensions
tzdata
tzlocal
urllib3
uvicorn
validators
wasabi
watchdog
watchgod
wcwidth
webencodings
websockets
widgetsnbextension
wincertstore
zipp
